<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <title>Hello</title>
</head>
<body>
    <h1>Let's begin</h1>
    <img src="{{url_for('static', filename='images/smiley-g92e58c8ff_640.jpg')}}" alt="Image by PublicDomainPictures from Pixabay">
    <p>Image by <a href="https://pixabay.com/users/publicdomainpictures-14/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=163510">PublicDomainPictures</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=163510">Pixabay</a></p> 
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>